extends layout
append script
  script(src='/javascripts/observationDevice.js')
block content
 .row
            .col-lg-12
                nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
                    .navbar-header.rl
                        a.navbar-brand.vflogo.simple-menu(href='#sidr') VF
                    .collapse.navbar-collapse
                        p.navbar-text(style='font-size:19px')
                            i.glyphicon.glyphicon-cog
                            | &nbsp設定画面
                        
 #maincontainer
    .row(style="margin:20px !important;")
        .col-md-4(style="margin-bottom:15px;")
            .panel.panel-default
                .panel-heading 登録フォーム
                .panel-body
                        .col-md-12
                            select.form-control#RelaySelector
                                option(value='0') --- 選択 ---
                                option(value='1') リレー１ : 温度
                                option(value='2') リレー２ : 湿度
                                option(value='3') リレー３ : 換気
                                option(value='4') リレー４ : CO2
                        .col-md-12(style='margin-top:15px;')
                            h4#RelayLabel 制御機器
                            #range1.range-celsius
                        .col-md-12
                            p
                                | 上限 
                                input#topRangeSpinner(value="0")
                            p
                                | 下限 
                                input#bottomRangeSpinner(value="0")
                        .col-md-12
                            p 上限到達時リレー動作
                                label
                                     input.celsiusTopRangeRadio(type='radio',name='TopRange',value='0',checked='checked')
                                     | OFF
                                label
                                     input.celsiusTopRangeRadio(type='radio',name='TopRange',value='1')
                                     | ON
                            p 下限到達時リレー動作
                                label
                                     input.celsiusBottomRangeRadio(type='radio',name='BottomRange',value='0',checked='checked')
                                     | OFF
                                label
                                     input.celsiusBottomRangeRadio(type='radio',name='BottomRange',value='1')
                                     | ON

                        .col-md-12
                            p
                                | 換気開始上限+ 
                                input#ventilationSpinner(value="0")
                            p 換気開始上限到達時
                                label
                                     input(type='radio',name='ventRadio',value='0')
                                     | 停止
                                label
                                     input(type='radio',name='ventRadio',value='1',checked='checked')
                                     | 開始   

                        .col-md-12(style='margin-bottom:20px;')
                          .row
                            .col-lg-12(style='margin-bottom:20px;')
                                .input-group
                                    span.input-group-addon 開始日時
                                    input#datetimepicker1.form-control(type='text',placeholder='ex) 20140101',name='eventStart')
                            .col-lg-12       
                                .input-group
                                    span.input-group-addon 終了日時
                                    input#datetimepicker2.form-control(type='text',placeholder='ex) 20141229',name='eventEnd')
                        .col-md-12
                            button#setBtn.btn.btn-block.btn-primary 設定登録