extends layout
append script
  script(src='/javascripts/observationDevice.js')   
block content
 .row
            .col-lg-12
                nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
                    .navbar-header.rl
                        a.navbar-brand.vflogo.simple-menu(href='#sidr') VF
                    .collapse.navbar-collapse
                        p.navbar-text(style='font-size:19px')
                            i.glyphicon.glyphicon-cog
                            | &nbsp設定画面
                        .infodiv
                            p#info_p.navbar-text.c_p
                              span.glyphicon.glyphicon-info-sign
                              | &nbsp受信待機中・・・
                            .progress.progress-striped.active.c_progress
                                #info-progress.progress-bar.progress-bar-warning(role='progressbar',aria-valuenow='10',aria-valuemin='0',aria-valuemax='10',style='width:100%')

 #maincontainer

        .row
            .col-md-8.row_m
                .panel.panel-default
                    .panel-heading
                        h3.panel-title
                            span.glyphicon.glyphicon-wrench.icon-gray
                            | &nbsp制御機器操作
                    .panel-body.panel-body.record
                        table#mcn-table.table.table-hover
                            tr.success
                                
                                th 制御機器
                                th 現在の状態
                                th 設定値
                                th アクセス状況
                                th 切替
                            tr
                                td: span.typcn.typcn-adjust-brightness.text-add 温度UP
                                td
                                td
                                td
                                td
                                    ul.radios
                                        li
                                            input#radio1-1(type='radio',name='radio1',value='on',checked='checked')
                                            label.ladiolabel(for='radio1-1') ON
                                        li
                                            input#radio1-2(type='radio',name='radio1',value='off')
                                            label.ladiolabel(for='radio1-2') OFF
                            tr
                                td: span.typcn.typcn-weather-sunny.text-add 温度DOWN
                                td
                                td
                                td
                                td
                                    ul.radios
                                        li
                                            input#radio2-1(type='radio',name='radio2',value='on',checked='checked')
                                            label.ladiolabel(for='radio2-1') ON
                                        li
                                            input#radio2-2(type='radio',name='radio2',value='off')
                                            label.ladiolabel(for='radio2-2') OFF 
                                               
                            tr
                                td: span.typcn.typcn-weather-downpour.text-add 湿度UP
                                td
                                td
                                td
                                td
                                    ul.radios
                                        li
                                            input#radio3-1(type='radio',name='radio3',value='on',checked='checked')
                                            label.ladiolabel(for='radio3-1') ON
                                        li
                                            input#radio3-2(type='radio',name='radio3',value='off')
                                            label.ladiolabel(for='radio3-2') OFF  
                                            
                            tr
                                td: span.typcn.typcn-weather-windy-cloudy.text-add 湿度DOWN
                                td
                                td
                                td
                                td
                                    ul.radios
                                        li
                                            input#radio4-1(type='radio',name='radio4',value='on',checked='checked')
                                            label.ladiolabel(for='radio4-1') ON
                                        li
                                            input#radio4-2(type='radio',name='radio4',value='off')
                                            label.ladiolabel(for='radio4-2') OFF                

                        #loadingTable_.loadingWrap-table: img(src='../images/gif-load.gif')

            .col-md-4.row_m
                .panel.panel-default
                    .panel-heading
                        h3.panel-title
                            span.glyphicon.glyphicon-time.icon-gray
                            | &nbspログ
                    .panel-body.panel-body-record
                        table.table.table-hover
                            tr.success
                                th 日時
                                th ログ内容
                        #loadingTable_.loadingWrap-table: img(src='../images/gif-load.gif')
